body {
    font-family: 'Kaisei Decol', serif;
    background-color: rgb(255, 154, 154);;
}

.header_div {
    background-color: rgb(247, 255, 133);
}

.header_div p{
    font-family:'Trebuchet MS', sans-serif;
    font-weight: 600px;
    letter-spacing: 2px;
    font-size: 16px;
}

.main_div button{
    font-family: 'Verdana', sans-serif;
    margin-top: 25px;
    width: 140px;
    letter-spacing: 3px;
    font-size: 20px;
}

.copy_right_footer{
    position: fixed;
    background-color: rgb(85, 6, 175);
    color: white;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(255, 249, 221);
}